@font-face {
  font-family: "lt_oksanaregular";
  src: url("../fonts/lt_oksana-webfont.eot");
  src: url("../fonts/lt_oksana-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lt_oksana-webfont.woff") format("woff"),
    url("../fonts/lt_oksana-webfont.ttf") format("truetype"),
    url("../fonts/lt_oksana-webfont.svg#lt_oksanaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1e1e1e;
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #fff;
}

h1 {
  font: 22px Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  margin: 40px 0;
}

.portfolio-breadcrumb {
  padding: 20px 0;
}
.portfolio-project {
  cursor: pointer;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.portfolio-project h3 {
  padding: 0;
  text-align: center;
  font-size: 16px;
  padding-bottom: 10px;
}
.portfolio-image {
  width: 100%;
  transition: all 600ms ease 0s;
}
.portfolio-image:hover {
  transform: scale(1.08);
}
a:link,
a:visited {
  color: #fd2900;
}

a:hover,
a:active {
  text-decoration: none;
}

header {
  background: url("../images/colorbar.gif") top repeat-x #000;
  margin-bottom: 10px;
  padding-bottom: 30px;
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1500px;
  }
}

.container-portfolio-project img {
  max-width: 100%;
}
.container-portfolio-project a.portfolio-button:link,
.container-portfolio-project a.portfolio-button:visited {
  background-color: #000;
  color: white;
  transition: 450ms;
  padding: 10px;
  font-size: 18px;
  border: solid 1px #fff;
}
.container-portfolio-project a.portfolio-button:hover,
.container-portfolio-project a.portfolio-button:active {
  background-color: #1e1e1e;
}
#logo {
  max-width: 230px;
  margin: 50px auto 0 auto;
}

nav {
  text-align: left;
  margin-top: 30px;
}

nav ul {
  margin-left: 0;
  padding-left: 0;
}

nav ul li {
  list-style-type: none;
}

nav ul li a:link,
nav ul li a:visited {
  font: 18px lt_oksanaregular;
  text-transform: lowercase;
  background-color: #0d0d0d;
  color: #fff;
  display: block;
  padding: 4px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

nav ul li a:hover,
nav ul li a:active,
nav ul li a.active:link,
nav ul li a.active:visited {
  background-color: #1e1e1e;
}

.container-contact {
  min-height: 300px;
}

.welcome {
  display: none;
}
@media (min-width: 576px) {
  .welcome {
    display: block;
  }
}

.welcome p,
.welcome li,
.container-portfolio-project p,
.container-contact p {
  font-size: 16px;
  line-height: 160%;
}

.welcome {
  padding: 18px 0;
}

.welcome p,
.welcome h3,
.welcome ul {
  margin-left: 15px;
  margin-right: 15px;
}

.welcome h3 {
  margin-bottom: 30px;
}

.welcome li {
  margin-bottom: 10px;
}

section.side_blurbs {
  background-color: #0006;
  padding-bottom: 10px;
  margin-top: 20px;
}

.side_blurbs h3 {
  background-color: #000;
  color: #fff;
  font: 18px lt_oksanaregular;
  padding: 5px;
  text-align: center;
  text-transform: lowercase;
  -webkit-top-left-border-radius: 3px;
  -moz-top-left-border-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-top-right-border-radius: 3px;
  -moz-top-right-border-radius: 3px;
  border-top-right-radius: 3px;
}
.side_blurbs .cta-buttons {
  text-align: center;
  padding: 0 20px;
}
.side_blurbs p {
  margin: 20px 40px;
  text-align: center;
  font-size: 16px;
  line-height: 160%;
}
.side_blurbs a:link,
.side_blurbs a:visited {
  background-color: #720b00;
  color: #fff;
  padding: 15px;
  transition: 450ms;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 10px;
  display: block;
  font: 16px lt_oksanaregular;
  text-transform: lowercase;
}
.side_blurbs a:hover,
.side_blurbs a:active {
  background-color: #410700;
}
footer {
  margin-top: 10px;
  padding: 10px 20px 30px 20px;
  background: url("../images/colorbar.gif") bottom repeat-x #000;
}
.copyright {
  color: #fff;
  margin: 20px 0;
}

.footer_nav {
  text-align: left;
  padding-top: 27px;
  padding-left: 0;
}

.footer_nav ul {
  padding-left: 0;
}

.footer_nav ul li {
  list-style-type: none;
  padding-left: 0;
}

.home-page-carousel {
  margin-top: 20px;
}
.home-page-carousel .owl-nav {
  text-align: center;
}
.home-page-carousel .owl-nav .owl-prev span,
.home-page-carousel .owl-nav .owl-next span {
  color: #fff;
  font-size: 50px;
  line-height: 100%;
  font-weight: 200;
}
.home-page-carousel svg {
  position: relative;
  top: 2px;
}
.owl-carousel .owl-item {
  overflow: hidden;
  z-index: 9;
}
.owl-carousel .owl-item img {
  transition: all 600ms ease 0s;
}
.owl-carousel .owl-item img:hover {
  transform: scale(1.08);
}
.home-page-carousel .owl-dots {
  margin: 0 auto;
  text-align: center;
}
.home-page-carousel .owl-dots .owl-dot {
  border: solid 1px white;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
}
.home-page-carousel .owl-dots .owl-dot.active {
  background-color: red;
}
.carousel-project-info {
  padding: 10px 20px 20px 20px;
  /* border-top: solid 1px #ccc; */
  background-color: #000;
  min-height: 250px;
  position: relative;
  z-index: 10;
}
.carousel-project-info h3 {
  font-size: 16px;
}
@media (min-width: 576px) {
  .carousel-project-info h3 {
    font-size: 20px;
  }
}
.carousel-project-info .category-label,
.caption {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 200;
}
.carousel-project-info h3 {
  margin-top: 0;
  font-weight: 600;
}

a.carousel-project-button:link,
a.carousel-project-button:visited {
  background-color: #720b00;
  color: #fff;
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  transition: 450ms;
  float: right;
  position: absolute;
  bottom: 10px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
a.carousel-project-button:hover,
a.carousel-project-button:active {
  background-color: #410700;
}
ul.slick-dots {
  background-color: #000;
  color: #fff;
}
.home-page-copy {
  max-width: 900px;
}
.home-page-copy p,
.home-page-copy li {
  font-size: 16px;
  line-height: 160%;
}

.home-page-copy li {
  margin-bottom: 10px;
}

/******ABOUT ME******/
.about-page p {
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 20px;
}

.right_content {
  float: right;
  margin: 0 0 20px 20px;
}

.left_content {
  float: left;
  margin: 0 20px 20px 0;
}

.case-study-page p {
  line-height: 180%;
  padding-right: 25px;
  padding-bottom: 10px;
}
