@font-face {
  font-family: "lt_oksanaregular";
  src: url("../fonts/lt_oksana-webfont.eot");
  src: url("../fonts/lt_oksana-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lt_oksana-webfont.woff") format("woff"),
    url("../fonts/lt_oksana-webfont.ttf") format("truetype"),
    url("../fonts/lt_oksana-webfont.svg#lt_oksanaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lt_oksanabold";
  src: url("../fonts/lt_oksana_bold-webfont.eot");
  src: url("../fonts/lt_oksana_bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lt_oksana_bold-webfont.woff") format("woff"),
    url("../fonts/lt_oksana_bold-webfont.ttf") format("truetype"),
    url("../fonts/lt_oksana_bold-webfont.svg#lt_oksanabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("../images/bg-page.gif") repeat #300500;
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #fff;
}

h1 {
  font: 22px lt_oksanabold;
  text-transform: lowercase;
}

p.fancy_font {
  font: 16px lt_oksanaregular;
}

a:link,
a:visited {
  color: #fd2900;
}

a:hover,
a:active {
  text-decoration: none;
}

header {
  background: url("../images/colorbar.gif") top repeat-x #000;
}

.container {
  max-width: 1500px;
}

#logo {
  max-width: 100%;
  margin-top: 30px;
}

nav {
  text-align: left;
}

nav ul {
  margin-left: 0;
  padding-left: 0;
}

nav ul li {
  list-style-type: none;
}

nav ul li a:link,
nav ul li a:visited {
  font: 20px lt_oksanaregular;
  text-transform: lowercase;
  background-color: #0d0d0d;
  color: #fff;
  display: block;
  padding: 4px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

nav ul li a:hover,
nav ul li a:active,
nav ul li a.active:link,
nav ul li a.active:visited {
  background-color: #1e1e1e;
}

#main h2 {
  font-size: 14px;
}

#main strong {
  color: #720b00;
}

section.side_blurbs {
  background-color: #242526;
  padding-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 20px;
}

.side_blurbs h3 {
  background-color: #720b00;
  color: #fff;
  font: 18px lt_oksanaregular;
  padding: 5px;
  text-align: center;
  text-transform: lowercase;
  -webkit-top-left-border-radius: 5px;
  -moz-top-left-border-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-top-right-border-radius: 5px;
  -moz-top-right-border-radius: 5px;
  border-top-right-radius: 5px;
}
.side_blurbs p.side_blurb_left {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}
.side_blurbs p {
  margin: 20px 40px;
  text-align: center;
  font-size: 16px;
  line-height: 160%;
}
.side_blurbs li {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 7px;
}
.side_blurbs_welcome li {
  margin-bottom: 20px;
}
.side_blurbs a:link,
.side_blurbs a:visited {
  background-color: #720b00;
  color: #fff;
  padding: 15px;
  transition: 450ms;
  border-radius: 5px;
}
.side_blurbs a:hover,
.side_blurbs a:active {
  background-color: #410700;
}
footer {
  background-color: #000;
  margin-top: 10px;
}

.stalking h2 {
  color: #d82000;
  font: 15px lt_oksanaregular;
}

.copyright {
  color: #fff;
  margin: 20px 0;
}

.footer_nav {
  text-align: left;
  padding-top: 27px;
  padding-left: 0;
}

.footer_nav ul {
  padding-left: 0;
}

.footer_nav ul li {
  list-style-type: none;
  padding-left: 0;
}

.home-page-carousel {
  background-color: #242526;
  margin-top: 20px;
}

.carousel-image {
  width: 100%;
}
.carousel-project-info {
  padding: 10px 20px 20px 20px;
  border-top: solid 1px #ccc;
}
.carousel-project-info .category-label {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 200;
}
.carousel-project-info h3 {
  margin-top: 0;
  font-weight: 600;
}

a.carousel-project-button:link,
a.carousel-project-button:visited {
  background-color: #720b00;
  color: #fff;
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  transition: 450ms;
  float: right;
  margin-top: 15px;
}
a.carousel-project-button:hover,
a.carousel-project-button:active {
  background-color: #410700;
}
ul.slick-dots {
  background-color: #000;
  color: #fff;
}
.home-page-copy {
  max-width: 900px;
}
.home-page-copy p,
.home-page-copy li {
  font-size: 16px;
  line-height: 160%;
}

.home-page-copy li {
  margin-bottom: 10px;
}

/******PORTFOLIO PAGE******/
.portfolio_div_container .portfolio_div img {
  max-height: 155px;
  max-width: 220px;
}
.portfolio_div_container {
  background-color: #000000;
  border: 1px solid #410700;
  float: left;
  margin: 0 7px 15px 0;
  overflow: hidden;
  padding: 5px;
  position: relative;
  max-width: 220px;
}
.portfolio_div_container .portfolio_div {
  max-height: 155px;
  overflow: hidden;
  position: relative;
  max-width: 220px;
}
.portfolio_div .info_container {
  height: 100px;
  position: relative;
  top: 100px;
  width: 230px;
  z-index: 0;
}
.portfolio_div div.info {
  color: #ffffff;
  height: 90px;
  line-height: 14px;
  padding: 5px;
  position: relative;
  top: -90px;
  width: 220px;
  z-index: 100;
}
.portfolio_div div.info p {
  font-size: 11px;
  margin-top: 0;
  padding-left: 0;
  padding-top: 0;
}
.portfolio_div div.info h3 {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 0;
}
.portfolio_div div.info a {
  background-color: #000000;
  color: #720b00;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  outline: medium none;
  text-decoration: none;
}
.portfolio_div div.info_bg {
  background-color: #000000;
  height: 100px;
  opacity: 0.8;
  position: relative;
  top: -200px;
  width: 230px;
  z-index: 50;
}

/******ABOUT ME******/
.white-border {
  border: 1px solid #ffffff;
}

.right_content {
  float: right;
  margin: 0 0 20px 20px;
}

.left_content {
  float: left;
  margin: 0 20px 20px 0;
}
