/* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
  

/* Easy Slider */

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:638px;
		height:228px;
		overflow:hidden; 
		}	
	
	#nextBtn, #slider1next{ 

		width:19px;
		height:55px;
		position: relative;
		top: -200px;
		left: 690px;
		z-index:1000;
		}	
		
	#prevBtn, #slider1prev{ 
		
		width:19px;
		height:55px;
		position: relative;
		top: -145px;
		left: 3px;
		z-index:1000;
		}	
														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:19px;
		height:55px;
		background:url(images/btn-prev.gif) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(images/btn-next.gif) no-repeat 0 0;	
		}	
		
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */