body {
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
}

p, h1, h2, h3, h4, h5, a, ul, li, ol, dl, dt, dd, address, label {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	text-align: left; 
}

address {
	font-style: normal;
}

dt {
	font-weight: bold;
	color: #01006D;
	margin: 10px 20px 5px 20px;
} 

dd {
	list-style: none;
	margin: 5px 30px 10px 30px;
} 

h1 {
	font-size: 18px;
	font-weight: bold;
	color: #485677;
}

h2 {
	font-size: 14px;
	font-weight: bold;
}

a:link, a:visited {
}

a:hover, a:active {
	text-decoration: none;
}


/* ----------------- PAGE LAYOUT ELEMENTS ----------------- */

div#container {
     width: 990px;
     margin: 0 auto 0 auto;
     background-color: #FFF;
}

	div#header {
		height: 100px;
		background: url("images/bg-header.jpg") no-repeat;
		text-align: left;
	}
	
		div#headercontact {
			position: relative;
			top: 81px;
			left: 429px;
			width: 562px;
		}
		
			div#headercontact address, div#headercontact a {
				color: #3a4a6e;
				font: bold 10px Verdana, Geneva, sans-serif;
			}

	div#navcontainer {
		height: 45px;
	}
	
	div#homepic {
		float: left;
		width: 562px;
		margin: 0;
	}
	
	div#welcomebox {
		float: right;
		width: 397px;
		height: 480px;
		background: url("images/bg-welcome.gif") top repeat-x;
		padding: 0 15px 0 15px;
	}
	
	div#welcomebox p {
		line-height: 16px;
		color: #433927;
	}
	
	div#main p {
		line-height: 19px;
		color: #274c4b;
	}
	
	div#main li {
		line-height: 19px;
		color: #274c4b;
	}
	
	div#main h2 {
		color: #3a4a6e;
	}
	
	div#content {
	            margin: 10px;
                 }
	
	div#footer {
		text-align: center;
		clear: both;
		height: 29px;
		background: url("images/bg-footer.gif") repeat-x;
	}
			  
	div#footercontact {
	}
	
		div#utilitynav {
			float: left;
			width: 300px;
		}
		
			div#utilitynav p {
				padding: 0;
				margin: 5px 0 5px 0;
			}
			
			div#utilitynav a {
				color: #587c7b;
			}
		
		div#footercontact address {
			float: right;
			text-align: right;
			width: 600px;
			color: #3a4a6e;
			font-weight: bold;
			margin: 5px 0 5px 0;
		}

/* ----------------- IMAGE ELEMENTS ----------------- */

img.left {
	float: left;
	margin: 0 10px 10px 0;
}
img.right {
	float: right;
	margin: 0 0 10px 20px;
}
img.rightmgnright {
	float: right;
	margin: 0 130px 10px 20px;
}
.clear {
	clear: both;
}
.clearcentered {
	clear: both;	
	text-align: center;
	margin: 0 auto 0 auto;
}
.centered {
	text-align: center;
	margin: 0 auto 0 auto;
}
.clearright {
	clear: right;
}
.clearleft {
	clear: left;
}


/* ------------------------- FOOTER NAVIGATION ----------------------------- */
div#footer {
	text-align: center;
}

div#footer p {
	text-align: center;
	padding: 5px 0 5px 0;
}

div#footer a, div#footer p {
	color: #FFF;
}

div#footer a {
	margin-left: 20px;
	margin-right: 20px;
}


/* ------------------------- LISTS ----------------------------- */

div#lists {
	width: 500px;
	float: left;
}

	div#listleft {
		float: left;
		width: 180px;
	}
	
	div#listright {
		float: right;
		width: 280px;
	}
	
	

/* ----------- NAVIGTION ----------- */

#nav {
	background: url("images/nav.jpg") no-repeat;
	width: 990px;
	height: 29px;
	margin: 0;
	padding: 0;
}

#nav span {
	display: none;
}

#nav li, #nav a {
	height: 29px;
	display: block;
}

#nav li {
	float: left;
	list-style: none;
	display: inline;
}



#nav01 {width: 113px;}
#nav02 {width: 172px;}
#nav03 {width: 132px;}
#nav04 {width: 149px;}
#nav05 {width: 172px;}
#nav06 {width: 124px;}
#nav07 {width: 128px;}

#nav01 a:hover {background:url("images/nav.jpg") 0px -29px no-repeat; }
#nav02 a:hover {background:url("images/nav.jpg") -113px -29px no-repeat; }
#nav03 a:hover {background:url("images/nav.jpg") -285px -29px no-repeat; }
#nav04 a:hover {background:url("images/nav.jpg") -417px -29px no-repeat; }
#nav05 a:hover {background:url("images/nav.jpg") -566px -29px no-repeat; }
#nav06 a:hover {background:url("images/nav.jpg") -738px -29px no-repeat; }
#nav07 a:hover {background:url("images/nav.jpg") -862px -29px no-repeat; }


/* ----------- NAVIGTION - DROP DOWN FOR SERVICES ----------- */
#nav li ul#servicesdrop {
	position: absolute;
	width: 318px;
	height: 121px;
	left: -999em;
	z-index: 100;
	background: url("images/bg-dropdown-services.gif") no-repeat;
}


#nav li:hover ul#servicesdrop {
	left: auto;
}

#nav li:hover ul#servicesdrop, #nav li.sfhover ul#servicesdrop {
	left: auto;
}

#nav ul#servicesdrop li a {
	color: #FFF;
	font: bold 12px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin-left: -30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#nav ul#servicesdrop li a:hover {
	color: #FFF;
	background-image: none;
	margin-left: -30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* ----------- NAVIGTION - DROP DOWN FOR ABOUT ----------- */
#nav li ul#aboutdrop {
	position: absolute;
	width: 318px;
	height: 121px;
	left: -999em;
	z-index: 100;
	background: url("images/bg-dropdown-about.gif") no-repeat;
}


#nav li:hover ul#aboutdrop {
	left: auto;
}

#nav li:hover ul#aboutdrop, #nav li.sfhover ul#aboutdrop {
	left: auto;
}

#nav ul#aboutdrop li a {
	color: #FFF;
	font: bold 12px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin-left: -30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#nav ul#aboutdrop li a:hover {
	color: #FFF;
	background-image: none;
	margin-left: -30px;
	margin-top: 20px;
	margin-bottom: 20px;
}



/* ----------- FORM ----------- */
.myform{
margin:0 auto;
width:470px;
padding:14px;
margin-bottom: 15px;
}

#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{

font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:300px;

}

#stylized textarea{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:300px;
height: 100px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:171px;
height:45px;
background: url("images/demo-request.gif") no-repeat;
border: none;
}
#stylized button span {
	visibility: hidden;
}


/* ----------- MISCELLANEOUS ----------- */

div#jobpostings {
	float: left;
	width: 620px;
}
