@charset "UTF-8";

dt, dd {
	line-height: 160%;
}

dt {
	color: #D67372;
	font-size: 18px;
}

dd {
	margin-bottom: 20px;
}

	dd div {
		padding-left: 30px;
	}
	
#quote_form {
	background-color: #fff;
	border: dotted 2px #d67372;
	float: right;
	margin: 10px 0 40px 40px;
	padding: 20px;
}

	#quote_form h2 {
		border-bottom: dotted 1px;
		color: #648d93;
		font-size: 20px;
		margin-bottom: 20px;
	}

	#quote_form label {
		color: #d67372;
		display: block;
		font-size: 14px;
		margin-bottom: 2px;
	}
	
	#quote_form fieldset {
		margin-bottom: 10px;
	}
	
	#quote_form input, #quote_form  textarea {
		  background-color: #ffffff;
		  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );   
		  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
		  background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
		  background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
		  background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
		  background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%); 
		  -webkit-border-radius: 5px;
		  -moz-border-radius   : 5px;
		  border-radius        : 5px;
		  -moz-background-clip   : padding;
		  -webkit-background-clip: padding-box;
		  background-clip        : padding-box;
		  border: 1px solid #aaaaaa;
		  -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
		  -moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
		  box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
		  display: block;
		  overflow: hidden;
		  white-space: nowrap;
		  position: relative;
		  height: 23px;
		  line-height: 24px;
		  padding: 0 0 0 8px;
		  color: #444444;
		  text-decoration: none;
		  font-size: 14px;
		  width: 250px;
	}
	
	#quote_form textarea {
		height: 200px;
	}
	
	#quote_form .chzn-drop {
		width: 258px !important;
	}
	
	#quote_form .chzn-container, #quote_form .chzn-results, #quote_form .chzn-search, #quote_form .chzn-single {
		width: 250px !important;
	}
	
	#quote_form .chzn-search input {
		width: 225px !important;
	}