#nav_container {
        background: #35a5de; /* Old browsers */
        background: -moz-linear-gradient(top,  #35a5de 0%, #1d91cc 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35a5de), color-stop(100%,#1d91cc)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #35a5de 0%,#1d91cc 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #35a5de 0%,#1d91cc 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #35a5de 0%,#1d91cc 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #35a5de 0%,#1d91cc 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35a5de', endColorstr='#1d91cc',GradientType=0 ); /* IE6-9 */

        border-bottom: solid 1px #197bae;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

@media screen and (min-width: 1000px) {

        #nav_main nav ul {
            display: block;
            width: 90%;
        }
    
        #nav_main nav ul li {
            float: left;
            height: 45px;
        }

            #nav_main nav ul li a:link, #nav_main nav ul li a:visited {
                color: #fff;
                display: block;
                font: 15px open_sansbold;
                padding: 12px 15px;
                text-align: center;
                text-decoration: none;
            }

                #nav_main nav ul li a:hover, #nav_main nav ul li a:active {
                    background-color: #35a5de;
                }

                #nav_main nav ul li a.current:link, #nav_main nav ul li a.current:visited, #nav_main nav ul li a.current:hover, #nav_main nav ul li a.current:active {
                    background-color: #a6d469;
                } 

        #menu_button {
            display: none;
        }

        #nav_main #logo {
            width: 10%;
            margin-top: 8px;
            max-width: 70px;
            max-height: 29px;
            float: right;
        }
}

@media screen and (max-width: 999px) {
    #nav_main {
        height: 45px;
    }
    
        #nav_main nav ul {
            clear: both;
            display: none;
        }

            #nav_main nav ul li a:link, #nav_main nav ul li a:visited {
                    clear: both;
                    color: #fff;
                    display: block;
                    font: 15px open_sansbold;
                    padding: 12px 15px;
                    text-align: center;
                    text-decoration: none;
                }

                    #nav_main nav ul li a:hover, #nav_main nav ul li a:active {
                        background-color: #35a5de;
                    }

                    #nav_main nav ul li a.current:link, #nav_main nav ul li a.current:visited, #nav_main nav ul li a.current:hover, #nav_main nav ul li a.current:active {
                        background-color: #a6d469;
                    } 

        #nav_main #logo {
                width: 50%;
                margin-top: 8px;
                max-width: 70px;
                max-height: 29px;
                float: left;
            }
    
    #menu_button {
        display: block;
        float: right;
        margin-top: 7px;
        margin-right: 10px;
    }

        #menu_button:hover {
            cursor: pointer;
        }
}

/* 740px and less in landscape mode */
@media screen and (max-width: 740px) and (orientation: landscape) {
    #nav_main nav ul {
        padding-top: 5px;
    }
    
    #nav_main nav ul li a:link, #nav_main nav ul li a:visited {
        clear: none;
        float: left;
        padding: 9px 15px;
        width: 42%;
    }

}